@font-face {
  font-family: 'Poppins Light' ;
  src: url('./img/Poppins/Poppins-ExtraLight.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins Light'
}
html{
  /*   *****   Storing Colors In Variables   *****  */
  --body-clr: #edeef0;
  --primary-clr: #000;
  --primary-light-clr: #eaf3fa;
  --links-clr: #000;
  --text-clr: #000;
}
body{
  width: 100%;
  min-height: 100vh;
}
.portfolio .section-head{
  max-width: 700px;
  margin: 0px auto 25px;
  padding-top: 5rem;
  text-align: center;
}
.section-head h1 a{
  position: relative;
  font-size: 50px;
  margin: 0px 0px 15px;
  color: var(--primary-clr);
  text-decoration: none
}
.socials {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 0.5rem;
  text-decoration: none;
}
.socials a{
  font-size: 25px;
  color: #000;
}
.socials a:hover{
  color: rgb(97, 10, 179);
}
.projects{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
.projects .item{
  position: relative;
  width: calc(33.33% - 8px);
  overflow: hidden;
}
.item img{
  width: 100%;
  height: 100%;
  margin: 20px;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}
.projects .item:hover{
  transform: scale(1.05);
}
.item .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 20px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #000000c2;
  background-size: cover ;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.item:hover .overlay{
  cursor: pointer;
  opacity: 1;
} 
.item .overlay a{
  width: 96%;
  display: flex;
  padding-top: 50%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  color: #eaf3fa;
  text-decoration: none;
  font-size: 28px;
}
p{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.85rem;
  color: #000;
}

@media(max-width: 1024px){
  div.projects .item{
    width: calc(50% - 8px);
  }
}

@media(max-width: 600px){
  div.projects .item{
    width: 100%;
    margin: 4px 0px;
  }
}

/* GALLERY */

.wrapper h2{
  max-width: 700px;
  margin: 0px auto;
  padding-top: 5rem;
  text-align: center;
} 
.wrapper .gallery{
  width: 95%;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: auto auto auto auto; */
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 2vh;
  position: relative;
  overflow: hidden;
}
.wrapper .gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.wrapper .gallery img:hover{
  transform: scale(1.03);
  cursor: zoom-in;
}
/* .wrapper .gallery .grid-item:nth-child(3n - 2){
  grid-column: span 2;
  grid-row: span 3;
} */
.wrapper .videos{
  width: 95%;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2vh;
  overflow: hidden;
  justify-content: center;
  border-radius: 1rem;
}
.wrapper .videos video{
  width: 80%;
  height: 80%;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer;
}
